=PORT=5000

MONGODB_URI=MONGODB_URI=mongodb+srv://srishti:poemew123@capstone.mpptiaq.mongodb.net/loginpage
SESSION_SECRET=mysupersecret

GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback

ML_API_URL=http://localhost:5000
MODEL_PATH=ml/model.pkl
SCALER_PATH=ml/scaler.pkl